@font-face {
  font-family: 'NanumSquare L';
  src: url('./styles/fonts/NanumSquare_acL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare R';
  src: url('./styles/fonts/NanumSquare_acR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare B';
  src: url('./styles/fonts/NanumSquare_acB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare EB';
  src: url('./styles/fonts/NanumSquare_acEB.ttf') format('truetype');
}

@font-face {
  font-family: 'Typo_S';
  src: url('./styles/fonts/Typo_S.ttf') format('truetype');
}

body::-webkit-scrollbar {
  width: 8px; /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
  height: 5%; /* 스크롤바의 길이 */
  background: #252323c1; /* 스크롤바의 색상 */
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(33, 122, 244, 0.1); /*스크롤바 뒷 배경 색상*/
}
