@font-face {
  font-family: 'NanumSquare L';
  src: url('./styles/fonts/NanumSquare_acL.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare R';
  src: url('./styles/fonts/NanumSquare_acR.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare B';
  src: url('./styles/fonts/NanumSquare_acB.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumSquare EB';
  src: url('./styles/fonts/NanumSquare_acEB.ttf') format('truetype');
}
